<section class="advantages">
    <h2 class="h2">Чем можем<br>быть полезны</h2>
    <div class="advantages-block">
        <a href="/" class="example_link">Поясняем на примере</a>
        <p class="advantages_text">
            Берем всю дополнительную работу на себя: выявляем боли и возражения вашей целевой аудитории; разрабатываем уникальное торговое предложение, акции и бонусы для ваших клиентов; созваниваемся, встречаемся с вашими клиентами для сбора отзывов; <span class="color-blue">готовим фото</span> и видео-контент для сайта и отзывов; пишем продающие тексты.
        </p>
        <div class="advantages-buttons">
            <a href="/" class="box-btn">SEO</a>
            <a href="/" class="box-btn">SERM</a>
            <a href="/" class="box-btn">Контекстная реклама</a>
            <a href="/" class="rect-btn">Все услуги</a>
        </div>
    </div>
    <div class="star"></div>
</section>