<section class="first-screen">
    <div class="first-screen_lines">
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
        <div class="lines"></div>
    </div>
    <div class="wrapper">
        <div class="first_title">
            <h1 class="h1">
                <!-- <span>Создание</span><br>
                <span><span class="color-blue">продающих</span><br><span>сайтов под</span></span><br>
                <span>под<br>ключ</span> -->
                <span class="first_line">Создание</span>
                <span class="second_line">
                    <span class="color-blue">продающих</span>
                    <span class="inner_line">
                        <span>сайтов</span>
                        <span>под</span>
                    </span>
                </span>
                <span class="third_line">ключ</span>
            </h1>
            <div class="under-title">
                <div class="under-title_text">
                    <p>Комплексный подход для среднего и крупного бизнеса</p>
                </div>
                <a class="circle">
                    <img class="rocket" src="img/rocket.svg" alt="rocket">
                    <p><span>Получить</span><br><span>предложение</span></p>
                </a>
            </div>
        </div>
        <div class="first-block">
            <div class="first-block_wrap">
                <div class="first-block_item">
                    <h5 class="block_title">Мы НЕ делаем:</h5>
                    <div class="block_text">
                        «Просто картинку» и не ведёмся на «Хочу точь-в-точь как у конкурента»
                    </div>
                </div>
                <div class="first-block_item">
                    <h5 class="block_title">Создаем</h5>
                    <div class="block_text">рабочий инструмент продаж</div>
                </div>
            </div>
            <div class="block_pagination"></div>
            <div class="block_arrow"></div>
        </div>
    </div>
    <nav class="navigation">
        <div class="viewport">
            <span>для крупного бизнеса для среднего крупного бизнеса комплексный подход для крупного бизнеса для среднего</span>
            <span>крупного бизнеса комплексный подход для крупного бизнеса для среднего для крупного бизнеса для среднего</span>
        </div>
        <ul class="menu">
            <li class="menu_item">
                <a href="#" class="menu_link">для среднего</a>
            </li>
            <li class="menu_item">
                <a href="#" class="menu_link">крупного бизнеса</a>
            </li>
            <li class="menu_item">
                <a href="#" class="menu_link">комплексный подход</a>
            </li>
            <li class="menu_item">
                <a href="#" class="menu_link">для среднего</a>
            </li>
            <li class="menu_item">
                <a href="#" class="menu_link">крупного бизнеса</a>
            </li>
            <li class="menu_item">
                <a href="#" class="menu_link">комплексный подход</a>
            </li>
            <li class="menu_item">
                <a href="#" class="menu_link">для среднего</a>
            </li>             
        </ul>
    </nav>
    <div class="obj obj_half"></div>
    <div class="obj obj_circle_small"></div>
    <div class="obj obj_circle_big"></div>
    <div class="obj obj_rect"></div>
</section>