<section class="portfolio">
    <h2 class="h2">Портфолио</h2>
    <div class="portfolio-block">
        <a href="" class="portfolio_item" style="background-image: url(img/nordgold.png);">
            <p class="portfolio_case">Кейс</p>
            <h4 class="portfolio_title">Nordgold</h4>
            <div class="porfolio-links">
                <p class="portfolio_link">Айдентика</p>
                <p class="portfolio_link">Сайты</p>
            </div>
            <div class="overlay"><h4 class="portfolio_title">Смотреть кейс</h4></div>
        </a>
        <a href="" class="portfolio_item" style="background-image: url(img/avangard.png);">
            <p class="portfolio_case">Кейс</p>
            <h4 class="portfolio_title">Авангард</h4>
            <div class="porfolio-links">
                <p class="portfolio_link">Айдентика</p>
                <p class="portfolio_link">Сайты</p>
            </div>
            <div class="overlay"><h4 class="portfolio_title">Смотреть кейс</h4></div>
        </a>
        <a href="" class="portfolio_item" style="background-image: url(img/dominos.png);">
            <p class="portfolio_case">Кейс</p>
            <h4 class="portfolio_title">Domino’s редизайн приложения</h4>
            <div class="porfolio-links">
                <p class="portfolio_link">Айдентика</p>
                <p class="portfolio_link">Сайты</p>
            </div>
            <div class="overlay"><h4 class="portfolio_title">Смотреть кейс</h4></div>
        </a>
        <a href="" class="portfolio_item" style="background-image: url(img/nordgold.png);">
            <p class="portfolio_case">Кейс</p>
            <h4 class="portfolio_title"></h4>
            <div class="porfolio-links">
                <p class="portfolio_link">Айдентика</p>
                <p class="portfolio_link">Сайты</p>
            </div>
            <div class="overlay"><h4 class="portfolio_title">Смотреть кейс</h4></div>
        </a>
        <a href="" class="portfolio_item" style="background-image: url(img/kresla.png);">
            <p class="portfolio_case">Кейс</p>
            <h4 class="portfolio_title">Kresla.shop - интернет магазин мебели</h4>
            <div class="porfolio-links">
                <p class="portfolio_link">Айдентика</p>
                <p class="portfolio_link">Сайты</p>
            </div>
            <div class="overlay"><h4 class="portfolio_title">Смотреть кейс</h4></div>
        </a>
        <a href="" class="portfolio_item" style="background-image: url(img/gold.png);">
            <p class="portfolio_case">Кейс</p>
            <h4 class="portfolio_title">Nordgold</h4>
            <div class="porfolio-links">
                <p class="portfolio_link">Айдентика</p>
                <p class="portfolio_link">Сайты</p>
            </div>
            <div class="overlay"><h4 class="portfolio_title">Смотреть кейс</h4></div>
        </a>
        <a href="" class="portfolio_item" style="background-image: url(img/svetilniki.png);">
            <p class="portfolio_case">Кейс</p>
            <h4 class="portfolio_title">Светильники интернет-магазин</h4>
            <div class="porfolio-links">
                <p class="portfolio_link">Айдентика</p>
                <p class="portfolio_link">Сайты</p>
            </div>
            <div class="overlay"><h4 class="portfolio_title">Смотреть кейс</h4></div>
        </a>
        <a href="" class="portfolio_item" style="background-image: url(img/konakovo.png);">
            <p class="portfolio_case">Кейс</p>
            <h4 class="portfolio_title">Конаково. Сайт застройщика</h4>
            <div class="porfolio-links">
                <p class="portfolio_link">Айдентика</p>
                <p class="portfolio_link">Сайты</p>
            </div>
            <div class="overlay"><h4 class="portfolio_title">Смотреть кейс</h4></div>
        </a>
        <a href="" class="portfolio_item">
            <h4 class="portfolio_title">Посмотреть все<br>наши работы</h4>
        </div>
    <av>
</section>