<section class="portfolio">
    <h2 class="h2">Портфолио</h2>
    <div class="portfolio-block">
        <a href="" class="portfolio_item" style="background-image: url();">
            <img src="img/nordgold.png" alt="" class="portfolio_img">
            <p class="portfolio_case">Кейс</p>
            <h4 class="portfolio_title">Nordgold</h4>
            <div class="porfolio-links">
                <p class="portfolio_link">Айдентика</p>
                <p class="portfolio_link">Сайты</p>
            </div>
            <div class="overlay"><h4 class="portfolio_title">Смотреть кейс</h4></div>
        </a>
        <a href="" class="portfolio_item" style="background-image: url();">
            <img src="img/avangard.png" alt="" class="portfolio_img">
            <p class="portfolio_case">Кейс</p>
            <h4 class="portfolio_title">Авангард</h4>
            <div class="porfolio-links">
                <p class="portfolio_link">Айдентика</p>
                <p class="portfolio_link">Сайты</p>
            </div>
            <div class="overlay"><h4 class="portfolio_title">Смотреть кейс</h4></div>
        </a>
        <a href="" class="portfolio_item" style="background-image: url();">
            <img src="img/dominos.png" alt="" class="portfolio_img">
            <p class="portfolio_case">Кейс</p>
            <h4 class="portfolio_title">Domino’s редизайн приложения</h4>
            <div class="porfolio-links">
                <p class="portfolio_link">Айдентика</p>
                <p class="portfolio_link">Сайты</p>
            </div>
            <div class="overlay"><h4 class="portfolio_title">Смотреть кейс</h4></div>
        </a>
        <a href="" class="portfolio_item" style="background-image: url();">
            <img src="img/nordgold.png" alt="" class="portfolio_img">
            <p class="portfolio_case">Кейс</p>
            <h4 class="portfolio_title"></h4>
            <div class="porfolio-links">
                <p class="portfolio_link">Айдентика</p>
                <p class="portfolio_link">Сайты</p>
            </div>
            <div class="overlay"><h4 class="portfolio_title">Смотреть кейс</h4></div>
        </a>
        <a href="" class="portfolio_item" style="background-image: url();">
            <img src="img/kresla.png" alt="" class="portfolio_img">
            <p class="portfolio_case">Кейс</p>
            <h4 class="portfolio_title">Kresla.shop - интернет магазин мебели</h4>
            <div class="porfolio-links">
                <p class="portfolio_link">Айдентика</p>
                <p class="portfolio_link">Сайты</p>
            </div>
            <div class="overlay"><h4 class="portfolio_title">Смотреть кейс</h4></div>
        </a>
        <a href="" class="portfolio_item" style="background-image: url();">
            <img src="img/gold.png" alt="" class="portfolio_img">
            <p class="portfolio_case">Кейс</p>
            <h4 class="portfolio_title">Nordgold</h4>
            <div class="porfolio-links">
                <p class="portfolio_link">Айдентика</p>
                <p class="portfolio_link">Сайты</p>
            </div>
            <div class="overlay"><h4 class="portfolio_title">Смотреть кейс</h4></div>
        </a>
        <a href="" class="portfolio_item" style="background-image: url();">
            <img src="img/svetilniki.png" alt="" class="portfolio_img">
            <p class="portfolio_case">Кейс</p>
            <h4 class="portfolio_title">Светильники интернет-магазин</h4>
            <div class="porfolio-links">
                <p class="portfolio_link">Айдентика</p>
                <p class="portfolio_link">Сайты</p>
            </div>
            <div class="overlay"><h4 class="portfolio_title">Смотреть кейс</h4></div>
        </a>
        <a href="" class="portfolio_item" style="background-image: url();">
            <img src="img/konakovo.png" alt="" class="portfolio_img">
            <p class="portfolio_case">Кейс</p>
            <h4 class="portfolio_title">Конаково. Сайт застройщика</h4>
            <div class="porfolio-links">
                <p class="portfolio_link">Айдентика</p>
                <p class="portfolio_link">Сайты</p>
            </div>
            <div class="overlay"><h4 class="portfolio_title">Смотреть кейс</h4></div>
        </a>
        <a href="" class="portfolio_item">
            <h4 class="portfolio_title">Посмотреть все<br>наши работы</h4>
        </a>
    </div>
    <div class="obj obj_half"></div>
</section>