.advantages {
    padding: 152px 3px 140px;
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 1200px){
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @media screen and (max-width: 768px){
        padding-left: 20px;
        padding-right: 20px;
    }
    .star {
        position: absolute;
        top: 59px;
        right: 40px;
        width: 60px;
        height: 60px;
        background-image: url(../img/arrow_1.svg);
        transition: .5s;
        &:hover {
            transform: rotate(45deg);
        }
        @media screen and (max-width: 991px){
            display: none;
        }
    }
    .flight {
        position: fixed;
        z-index: 10;
        bottom: 20px;
        left: 20px;
        width: 70px;
        height: 70px;
        background: $blue_color url(../img/arrow_2.svg);
        border-radius: 50%;
        background-position: 55% 45%;
        background-repeat: no-repeat;
        transition: .7s;
        &:hover {
            transform: rotate(-360deg);
        }
    }
    .h2 {
        width: 100%;
        font-family: Igra Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 65px;
        line-height: 75px;
        font-size: calc(1.875rem + 35 * (100vw - 320px) / 1526);
        line-height: calc(1.875rem + 10px + 35 * (100vw - 320px) / 1526);
        letter-spacing: -0.03em;
        color: $black_color;
        padding-left: 319px;
        @media screen and (min-width:1900px) {
            font-size: 65px;
            line-height: 75px;
        }
        @media screen and (max-width: 1200px){
            width: 68%;
            margin: 0 auto;
            padding-left: 0;
        }
        @media screen and (max-width: 768px){
            width: 100%;
            margin-bottom: 20px;
        }
    }
    .advantages-block {
        width: 50%;
        margin-left: 50%;
        padding-right: 133px;
        position: relative;
        @media screen and (max-width: 1200px){
            width: 68%;
            margin: 0 auto;
            padding-right: 0;
        }
        @media screen and (max-width: 768px){
            width: 100%;
        }
        .example_link {
            position: absolute;
            top: 5px;
            left: 0;
            font-weight: 500;
            font-size: 18px;
            color: $blue_color;
            @media screen and (max-width:768px) {
                position: static;
            }    
        }
        .advantages_text {
            font-size: 30px;
            line-height: 40px;
            font-size: calc(1.25rem + 10 * (100vw - 320px) / 1526);
            line-height: calc(1.25rem + 10px + 10 * (100vw - 320px) / 1526);
            letter-spacing: -0.03em;
            text-indent: 250px;
            @media screen and (min-width:1900px) {
                font-size: 30px;
                line-height: 40px;
            }    
            @media screen and (max-width:768px) {
                text-indent: 0;
                margin-top: 9px;
                margin-bottom: 25px;
                line-height: 22px;
                .color-blue {
                    color: inherit;
                }
            }    
        }
        .advantages-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 16px;
            a {
                font-weight: 500;
                font-size: 18px;
                color: $blue_color;
                transition: .5s;
                background-color: #ffffff;
                @media screen and (max-width:768px) {
                    font-size: 16px;
                    line-height: 22px;
                }    
                &:hover {
                    background-color: $blue_color;
                    color: #ffffff;
                    &::after {
                        opacity: 1;
                        @media screen and (max-width:1500px) {
                            content: url(../img/arrow_3.svg);
                        }    
                    }
                }
                &::after{
                    content: url(../img/arrow_3.svg);
                    position: absolute;
                    width: 18px;
                    height: 23px;
                    margin-left: 15px;
                    margin-top: 1px;
                    opacity: 0;
                    transition: .5s;
                    @media screen and (max-width:1500px) {
                        content: url(../img/arrow_4.svg);
                        opacity: 1;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 26px; 
                    }                   
                }
            }
            .box-btn {
                width: 29%;
                max-width: 240px;
                height: 140px;
                border: 1px solid $blue_color;
                margin-bottom: 40px;
                margin-top: 40px;
                padding: 40px;
                position: relative;
                &:nth-of-type(2) {
                    // margin-left: 40px;
                    // margin-right: 40px;
                }
                @media screen and (max-width:1500px){
                    padding: 19px 25px;
                    width: 100%;
                    height: 60px;
                    max-width: 100%;
                    margin-bottom: 0;
                    margin-top: 10px;
                }
            }
            .rect-btn {
                width: 100%;
                height: 70px;
                border: 1px solid $blue_color;
                padding: 25px 40px;
                position: relative;
                &::after{
                    content: url(../img/arrow_4.svg);
                    opacity: 1;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 26px; 
                    transition: .5s;               
                }
                &:hover {
                    &::after{
                        content: url(../img/arrow_3.svg);             
                    }    
                }
                @media screen and (max-width:1500px){
                    height: 60px;
                    margin-top: 10px;
                    padding: 19px 25px;
                }
            }
        }
    }
    .obj_half {
        position: absolute;
        right: 25%;
        top: -143px;
        width: 288px;
        height: 288px;
        transform: rotate(45deg);
        border-radius: 50%;
        border: 70px solid transparent;
        border-top: 70px solid $blue_color;
        border-right: 70px solid $blue_color;
        animation: spin2 6s linear;
        // animation-delay: 6s;
        @media screen and (max-width: 1200px){
            display: none;
        }
    }
}