@keyframes trambling {
    0%, 100% {
        transform: translate(-5px,-5px);
    }
    50% {
        transform: translate(5px,-10px);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: rotate(-5deg) ;
    }
    50% {
        transform: rotate(5deg) ;
    }
}
