@import 'vars';
.first-screen {
    background-color: $background_color;
    padding: 199px 0 0px;
    overflow: hidden;
}
.wrapper {
    max-width: 1299px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.first_title {
    position: relative;
    padding: 0 15px;
    .circle {
        position: absolute;
        top: 57%;
        left: 54%;
        width: 225px;
        height: 225px;
        border-radius: 50%;
        background-color: $blue_color;
        margin: 3px 0 0 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: .5s;
        cursor: pointer;
        img {
            animation: trambling .6s ease-in-out infinite;
            // animation: pulse .3s ease-in-out infinite;
        }
        img.rocket {
            // animation: trambling .6s ease-in-out infinite;
        }
        img.fire {
            position: absolute;
            top: 91px;
            left: 89px;
            animation: pulse .1s ease-in-out infinite;
        }
        p {
            font-weight: 500;
            color: #ffffff;
            text-align: center;
            margin-bottom: 16px;
            span {
                border-bottom: 1px solid rgba(255,255,255,.2);
            }
        }
        &:hover {
            background-color: $h_color;
        }
    }
}
h1.h1 {
    font-family: 'Igra Sans',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 85px;
    line-height: 85px;
    letter-spacing: -0.02em;
    display: flex;
    flex-wrap: wrap;
    span {
        width: 100%;
    }
    span:nth-of-type(1) {
        
    }
    span:nth-of-type(2) {
        color: $blue_color;
        width: 75%;
        margin-left: 25%;
        text-align: start;
    }
    span:nth-of-type(3) {
        margin-top: -85px;
        margin-left: 75%;
        width: 25%;
        text-align: start;
    }
}
.first-block {
    width: 25%;
    padding: 0px 0 10px 17px;
    margin-top: -15px;
    // animation: show 2s linear;
    overflow: hidden;
    h5.block_title {
        font-family: Igra Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 25px;
        letter-spacing: -0.02em;
        margin-bottom: 25px;
    }
    .block_text {
        padding-right: 24px;
    }
    .block_pagination {
        margin: 37px 0 108px;
        height: 1px;
        border-top: 1px solid $text_color;
        width: 92%;
        &::before{
            content: '';
            display: flex;
            width: 25%;
            height: 3px;
            margin-top: -2px;
            background-color: $blue_color;
        }
    }
    .block_arrow {
        background-image: url(../img/arrow_5.svg);
        width: 28px;
        height: 36px;
        cursor: pointer;
    }
    .first-block_wrap {
        display: flex;
        justify-content: space-between;
        width: 200%;
    }
    .first-block_item {
        width: calc(200%/2 - 25px);
    }
}
.first-screen .navigation {
    width: 48%;
    margin-left: 52%;
    padding-left: 5px;
    margin-top: -9px;
    overflow-y: auto;
    position: relative;
    z-index: 2;
    &::-webkit-scrollbar { 
        width: 0 !important;
    }
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    // animation: showbottom 2s linear;
}
.menu {
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
}
.menu_item {
    padding: 0px 15px;
}
.menu_link {
    font-weight: 500;
    font-size: 17px;
    line-height: 35px;
    color: $blue_color;
}
.first-screen {
    .obj_circle_small {
        border-radius: 50%;
        width: 177px;
        height: 177px;
        border-top: 89px solid #ffffff;
        transform: rotate(90deg);
        position: absolute;
        top: 300px;
        left: -94px;
        // animation: spin 6s linear;
        // animation-delay: 2s;
    }
    .obj_circle_big {
        border-radius: 50%;
        width: 276px;
        height: 276px;
        border-bottom: 138px solid #ffffff;
        transform: rotate(90deg);
        position: absolute;
        right: -176px;
        top: 457px;
        // animation: spin 6s linear;
        // animation-delay: 3s;
    }
    .obj_half {
        position: absolute;
        right: 199px;
        top: -574px;
        width: 903px;
        height: 903px;
        transform: rotate(45deg);
        border-radius: 50%;
        border: 122px solid transparent;
        border-top: 122px solid #ffffff;
        border-right: 122px solid #ffffff;
        // animation: spin2 6s linear;
        // animation-delay: 4s;
    }
    .obj_rect {
        position: absolute;
        bottom: -5%;
        left: 20%;
        border-bottom: 70px solid #ffffff;
        border-left: 40px solid transparent;
        border-right: 25px solid transparent;
        height: 0;
        width: 500px;
        transform: rotate(150deg);
        // animation: grow 6s linear;
        // animation-delay: 5s;
    }
}
.obj {
    display: none;
}
.obj.show {
    display: block;
}
