@import 'vars';
.header {
    font-family: 'Gotham Pro',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: $text_color;
    position: absolute;
    left: 0;
    right: 0;
    background: transparent;
    max-width: 1846px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 2;
}
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 35px 40px;
    padding: 35px 0;
    margin: 0;
}
.logo,
.header-contacts {
    width: 25%;
    // padding-left: 12px;
    @media (max-width: 992px) {
        width: 50%;    
    }
}
.logo {
    // animation: showleft 2s linear;
}
.header-contacts {
    // animation: showright 2s linear;
}
.header .navigation {
    width: 37%;
    padding: 0px 6px 0 10px;
    margin-bottom: 6px;
    @media (max-width: 992px) {
        display: none;    
    }
    // animation: show 2s linear;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.nav-menu_item {
    padding: 10px 15px;
    &:first-of-type {
        padding-left: 0;
    }
    &:last-of-type {
        padding-right: 22px;
    }
    .nav-menu_link {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        display: block;
        min-width: 94px;
        text-align: center;
        transition: .1s;
        &:hover {
            font-weight: 500;
        }
    }
}
.header-contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.contacts_item {
    display: flex;
    flex-direction: column;
}
.contacts_item:first-of-type {
    margin-right: 23px;
}
.contacts_link {
    text-decoration: underline;
}
.contacts_link.__phone {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-decoration: none;
}
.contacts_link.__callback {
    color: $blue_color;
}