@import 'vars';
.header {
    font-family: 'Gotham Pro',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: $text_color;
    position: absolute;
    left: 0;
    right: 0;
    background: transparent;
    max-width: 1846px;
    margin: 0 auto;
}
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 40px;
    margin: 0;
}
.logo,
.header-contacts {
    width: 25%;
    @media (max-width: 992px) {
        width: 50%;    
    }
}
.navigation {
    width: 50%;
    @media (max-width: 992px) {
        display: none;    
    }
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.nav-menu_item {
    padding: 10px 15px;
}
.header-contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.contacts_item {
    display: flex;
    flex-direction: column;
}
.contacts_item:first-of-type {
    margin-right: 15px;
}
.contacts_link {
    text-decoration: underline;
}
.contacts_link.__phone {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-decoration: none;
}
.contacts_link.__callback {
    color: $blue_color;
}