.portfolio {
    padding-top: 115px;
    background-color: $h_color;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 1200px){
        padding-top: 33px;
    }
    .h2 {
        width: 100%;
        font-family: Igra Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 65px;
        line-height: 75px;
        font-size: calc(1.875rem + 35 * (100vw - 320px) / 1526);
        line-height: calc(1.875rem + 10px + 35 * (100vw - 320px) / 1526);
        letter-spacing: -0.03em;
        color: #ffffff;
        padding-left: 319px;
        margin-bottom: 123px;
        @media screen and (min-width:1900px) {
            font-size: 65px;
            line-height: 75px;
        }
        @media screen and (max-width: 1200px){
            width: 68%;
            margin: 0 auto 26px;
            padding-left: 0;
        }
        @media screen and (max-width: 768px){
            width: 100%;
            padding: 0 20px;
            margin-bottom: 26px;
        }
    }
    .portfolio-block {
        position: relative;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        .portfolio_item {
            width: calc(100%/3);
            // min-height: 530px;
            height: 28vw;
            padding: 67px 40px 40px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            color: #ffffff;
            position: relative;
            transition: opacity .5s;
            overflow: hidden;
            @media screen and (max-width: 1200px){
                width: 50%;
                min-height: 300px;
                height: 100%;
            }
            @media screen and (max-width: 768px){
                width: 100%;
                min-height: 265px;
                padding: 16px 20px 25px;
            }
            .portfolio_img {
                max-width: 100%;
                width: 100%;
                height: auto;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                opacity: .8;
                height: 28vw;
                @media screen and (max-width: 1200px){
                    height: auto;
                }
                @media screen and (max-width: 768px){
                    min-height: 265px;
                }
            }
            .portfolio_case {
                font-weight: 500;
                font-size: 18px;
                line-height: 25px;
                @media screen and (max-width: 768px){
                    font-style: 14px;
                }
            }
            .portfolio_title {
                font-weight: bold;
                font-size: 35px;
                line-height: 40px;
                margin-top: 4px;
                @media screen and (max-width: 1200px){
                    font-size: 30px;
                    line-height: 35px;
                }
                @media screen and (max-width: 768px){
                    font-size: 25px;
                    line-height: 30px;
                    margin-top: 8px;
                }
            }
            .porfolio-links {
                margin-top: auto;
                display: flex;
                .portfolio_link {
                    width: 125px;
                    height: 40px;
                    background-color: #F2F2F2;
                    border-radius: 90px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 500;
                    font-size: 14px;
                    color: $blue_color;
                    @media screen and (max-width: 768px){
                        width: 100px;
                        height: 30px;
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
                .portfolio_link:not(:last-of-type) {
                    margin-right: 15px;
                    @media screen and (max-width: 768px){
                        margin-right: 10px;
                    }
                }
            }
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                background-color: $blue_color;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                font-size: 35px;
                line-height: 40px;
                transition: .5s;
                .portfolio_title {
                    border-bottom: 1px solid rgba(255,255,255,0.2);
                }
                .portfolio_title::after{
                    content: url(../img/arrow_3.svg);
                    position: absolute;
                    width: 18px;
                    height: 23px;
                    margin-left: 15px;
                    margin-top: 1px;                   
                }
            }
            &:hover > .overlay {
                opacity: 1;
            }
        }
        .portfolio_item:last-of-type {
            background-color: $blue_color;
            justify-content: center;
            align-items: center;
            .portfolio_title {
                color: #ffffff;
                &::after{
                    content: url(../img/arrow_3.svg);
                    position: absolute;
                    width: 18px;
                    height: 23px;
                    margin-left: 15px;
                    margin-top: 1px;                   
                }
            }
        }
    }
    .obj_half {
        position: absolute;
        right: 45%;
        top: 218px;
        width: 200px;
        height: 200px;
        transform: rotate(45deg);
        border-radius: 50%;
        border: 50px solid transparent;
        border-top: 50px solid $blue_color;
        border-right: 50px solid $blue_color;
        animation: spin3 6s linear;
        // animation-delay: 4s;
        @media screen and (max-width: 1200px){
            display: none;
        }
    }
}