@import 'vars';
@import 'fonts';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Gotham Pro',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: $text_color;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: $text_color;
}
.color-blue {
    color: $blue_color;
}
@import 'preloader';
@import 'header';
@import 'first_screen';
@import 'advantages';
@import 'portfolio';


@import 'animation';